[Unit]
Description=Service Hub Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/lib/service-hub/service_hubd.py
Restart=always

[Install]
WantedBy=multi-user.target

